$box-height: 100px;
$box-height-600: 80px;
$box-height-500: 66px;
$box-height-400: 53px;
$color-even: #fff;
$color-odd: rgba(204, 204, 204, 0.778);
$border-right: 3px solid black;
$border-bottom: 3px solid black;