@import "partials/variables";
@import "partials/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Title */
#main-title {
    width: 600px;
}

#main-title h1 {
    font-size: 45px;
    text-align: center;
}


/* rules of the game*/
#main-title p {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: green;
    font-weight: bold;
}



/* which player turn and score*/
#heading {
    width: 600px;
    height: 70px;
    margin-top: 50px;
    display: flex;
}


#heading #player-move {
    width: 40%;
    display: flex;
    flex-direction: row;
}


#heading #player-move-text {
    color: green;
    font-weight: bold;
    padding-left: 50px;
}

#heading #player-move-variable {
    font-style: italic;
    font-weight: bold;
    padding-left: 25px;
}




#heading #player-X-text {
    display: flex;
    color: blue;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    padding-left: 180px;
    padding-bottom: 10px;
}

#heading #player-O-text {
    display: flex;
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    padding-left: 180px;
}




#container-game {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Game desk */

#dashboard {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
}

#dashboard #column1,
#column2,
#column3,
#column4,
#column5,
#column6 {
    width: 100px;
}

/* Draw X or O */
#dashboard p {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 25%;
    right: -35%;
}



/* 1. column  */

#dashboard #column1 #column1-box1 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}


#dashboard #column1 #column1-box2 {

    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column1 #column1-box3 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column1 #column1-box4 {

    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column1 #column1-box5 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column1 #column1-box6 {

    @include odd-boxes;
    border-right: $border-right;
}



/* 2. column */

#dashboard #column2 #column2-box1 {

    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column2 #column2-box2 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column2 #column2-box3 {
    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column2 #column2-box4 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column2 #column2-box5 {
    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column2 #column2-box6 {
    @include even-boxes;
    border-right: $border-right;
}


/* 3. column */

#dashboard #column3 #column3-box1 {
    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column3 #column3-box2 {

    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column3 #column3-box3 {
    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column3 #column3-box4 {
    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column3 #column3-box5 {
    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column3 #column3-box6 {
    @include odd-boxes;
    border-right: $border-right;
}







/* 4. column */

#dashboard #column4 #column4-box1 {

    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column4 #column4-box2 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column4 #column4-box3 {

    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column4 #column4-box4 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column4 #column4-box5 {

    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column4 #column4-box6 {

    @include even-boxes;
    border-right: $border-right;
}






/* 5. column */

#dashboard #column5 #column5-box1 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column5 #column5-box2 {

    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column5 #column5-box3 {
    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column5 #column5-box4 {
    @include odd-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column5 #column5-box5 {

    @include even-boxes;
    border-right: $border-right;
    border-bottom: $border-bottom;
}

#dashboard #column5 #column5-box6 {

    @include odd-boxes;
    border-right: $border-right;
}







/* 6. column */

#dashboard #column6 #column6-box1 {

    @include odd-boxes;
    border-bottom: $border-bottom;
}

#dashboard #column6 #column6-box2 {

    @include even-boxes;
    border-bottom: $border-bottom;
}

#dashboard #column6 #column6-box3 {
    @include odd-boxes;
    border-bottom: $border-bottom;
}

#dashboard #column6 #column6-box4 {
    @include even-boxes;
    border-bottom: $border-bottom;
}

#dashboard #column6 #column6-box5 {

    @include odd-boxes;
    border-bottom: $border-bottom;
}

#dashboard #column6 #column6-box6 {
    @include even-boxes;
}





/* Buttons - button for new game and reset score */

.buttons {
    margin-bottom: 10px;
    width: 600px;
    display: flex;
}

#newGame {
    width: 49%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#resetCalc {
    width: 49%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#newGame .btn-newGame,
.btn-resetCalc {
    height: 60px;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    color: green;
    background-color: rgb(195, 195, 195);
    cursor: pointer;

}


#newGame .btn-newGame:hover,
.btn-resetCalc:hover {
    background-color: rgb(193, 238, 193);
    width: 200px;
    font-size: 22px;
    transition: font-size 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}



@media only screen and (max-width: 600px) {

    #main-title {
        width: 400px;
    }

    #main-title h1 {
        font-size: 35px;
    }


    #main-title p {
        font-size: 12px;
    }

    /* which player turn and score*/
    #heading {
        width: 500px;
    }

    /* Draw X or O */
    #dashboard p {
        font-size: 40px;
        font-weight: bold;
        position: relative;
        top: 22%;
        right: -30%;
    }



    #heading #player-move-text {
        font-size: 12px;
    }




    #heading #player-X-text {
        font-size: 12px;
        padding-left: 140px;
    }

    #heading #player-O-text {
        font-size: 12px;
        padding-left: 140px;
    }

    #dashboard {
        width: 500px;
        height: 500px;
    }

    #dashboard #column1,
    #column2,
    #column3,
    #column4,
    #column5,
    #column6 {
        width: 80px;
    }


    /* 1. column */
    #dashboard #column1 #column1-box1 {

        height: $box-height-600;
    }


    #dashboard #column1 #column1-box2 {

        height: $box-height-600;
    }

    #dashboard #column1 #column1-box3 {

        height: $box-height-600;
    }

    #dashboard #column1 #column1-box4 {

        height: $box-height-600;
    }

    #dashboard #column1 #column1-box5 {

        height: $box-height-600;
    }

    #dashboard #column1 #column1-box6 {
        height: $box-height-600;
    }


    /* 2. column */

    #dashboard #column2 #column2-box1 {
        height: $box-height-600;
    }

    #dashboard #column2 #column2-box2 {
        height: $box-height-600;
    }

    #dashboard #column2 #column2-box3 {
        height: $box-height-600;
    }

    #dashboard #column2 #column2-box4 {

        height: $box-height-600;
    }

    #dashboard #column2 #column2-box5 {
        height: $box-height-600;
    }

    #dashboard #column2 #column2-box6 {
        height: $box-height-600;
    }


    /* 3. column */

    #dashboard #column3 #column3-box1 {
        height: $box-height-600;
    }

    #dashboard #column3 #column3-box2 {
        height: $box-height-600;
    }

    #dashboard #column3 #column3-box3 {
        height: $box-height-600;
    }

    #dashboard #column3 #column3-box4 {
        height: $box-height-600;
    }

    #dashboard #column3 #column3-box5 {
        height: $box-height-600;
    }

    #dashboard #column3 #column3-box6 {
        height: $box-height-600;
    }







    /* 4. column */

    #dashboard #column4 #column4-box1 {
        height: $box-height-600;
    }

    #dashboard #column4 #column4-box2 {
        height: $box-height-600;
    }

    #dashboard #column4 #column4-box3 {
        height: $box-height-600;
    }

    #dashboard #column4 #column4-box4 {
        height: $box-height-600;
    }

    #dashboard #column4 #column4-box5 {
        height: $box-height-600;
    }

    #dashboard #column4 #column4-box6 {
        height: $box-height-600;
    }






    /* 5. column */

    #dashboard #column5 #column5-box1 {
        height: $box-height-600;
    }

    #dashboard #column5 #column5-box2 {
        height: $box-height-600;
    }

    #dashboard #column5 #column5-box3 {
        height: $box-height-600;
    }

    #dashboard #column5 #column5-box4 {
        height: $box-height-600;
    }

    #dashboard #column5 #column5-box5 {
        height: $box-height-600;
    }

    #dashboard #column5 #column5-box6 {
        height: $box-height-600;
    }







    /* 6. column */

    #dashboard #column6 #column6-box1 {
        height: $box-height-600;
    }

    #dashboard #column6 #column6-box2 {
        height: $box-height-600;
    }

    #dashboard #column6 #column6-box3 {
        height: $box-height-600;
    }

    #dashboard #column6 #column6-box4 {
        height: $box-height-600;
    }

    #dashboard #column6 #column6-box5 {
        height: $box-height-600;
    }

    #dashboard #column6 #column6-box6 {
        height: $box-height-600;
    }




    .buttons {
        width: 500px;
    }



}








@media only screen and (max-width: 500px) {

    #main-title {
        width: 400px;
    }

    #main-title h1 {
        font-size: 35px;
    }


    #main-title p {
        font-size: 12px;
    }


    /* Draw X or O */
    #dashboard p {
        font-size: 40px;
        font-weight: bold;
        position: relative;
        top: 18%;
        right: -25%;
    }


    /* which player turn and score*/
    #heading {
        width: 400px;
    }



    #heading #player-move-text {
        font-size: 10px;
    }




    #heading #player-X-text {
        font-size: 10px;
        padding-left: 120px;
    }

    #heading #player-O-text {
        font-size: 10px;
        padding-left: 120px;
    }

    #dashboard {
        width: 400px;
        height: 400px;
    }

    #dashboard #column1,
    #column2,
    #column3,
    #column4,
    #column5,
    #column6 {
        width: 66px;
    }


    /* 1. column */
    #dashboard #column1 #column1-box1 {

        height: $box-height-500;
    }


    #dashboard #column1 #column1-box2 {

        height: $box-height-500;
    }

    #dashboard #column1 #column1-box3 {

        height: $box-height-500;
    }

    #dashboard #column1 #column1-box4 {

        height: $box-height-500;
    }

    #dashboard #column1 #column1-box5 {

        height: $box-height-500;
    }

    #dashboard #column1 #column1-box6 {
        height: $box-height-500;
    }


    /* 2. column */

    #dashboard #column2 #column2-box1 {
        height: $box-height-500;
    }

    #dashboard #column2 #column2-box2 {
        height: $box-height-500;
    }

    #dashboard #column2 #column2-box3 {
        height: $box-height-500;
    }

    #dashboard #column2 #column2-box4 {

        height: $box-height-500;
    }

    #dashboard #column2 #column2-box5 {
        height: $box-height-500;
    }

    #dashboard #column2 #column2-box6 {
        height: $box-height-500;
    }


    /* 3. column */

    #dashboard #column3 #column3-box1 {
        height: $box-height-500;
    }

    #dashboard #column3 #column3-box2 {
        height: $box-height-500;
    }

    #dashboard #column3 #column3-box3 {
        height: $box-height-500;
    }

    #dashboard #column3 #column3-box4 {
        height: $box-height-500;
    }

    #dashboard #column3 #column3-box5 {
        height: $box-height-500;
    }

    #dashboard #column3 #column3-box6 {
        height: $box-height-500;
    }







    /* 4. column */

    #dashboard #column4 #column4-box1 {
        height: $box-height-500;
    }

    #dashboard #column4 #column4-box2 {
        height: $box-height-500;
    }

    #dashboard #column4 #column4-box3 {
        height: $box-height-500;
    }

    #dashboard #column4 #column4-box4 {
        height: $box-height-500;
    }

    #dashboard #column4 #column4-box5 {
        height: $box-height-500;
    }

    #dashboard #column4 #column4-box6 {
        height: $box-height-500;
    }






    /* 5. column */

    #dashboard #column5 #column5-box1 {
        height: $box-height-500;
    }

    #dashboard #column5 #column5-box2 {
        height: $box-height-500;
    }

    #dashboard #column5 #column5-box3 {
        height: $box-height-500;
    }

    #dashboard #column5 #column5-box4 {
        height: $box-height-500;
    }

    #dashboard #column5 #column5-box5 {
        height: $box-height-500;
    }

    #dashboard #column5 #column5-box6 {
        height: $box-height-500;
    }







    /* 6. column */

    #dashboard #column6 #column6-box1 {
        height: $box-height-500;
    }

    #dashboard #column6 #column6-box2 {
        height: $box-height-500;
    }

    #dashboard #column6 #column6-box3 {
        height: $box-height-500;
    }

    #dashboard #column6 #column6-box4 {
        height: $box-height-500;
    }

    #dashboard #column6 #column6-box5 {
        height: $box-height-500;
    }

    #dashboard #column6 #column6-box6 {
        height: $box-height-500;
    }




    .buttons {
        width: 400px;
    }

}





@media only screen and (max-width: 400px) {

    #main-title {
        width: 340px;
    }

    #main-title h1 {
        font-size: 30px;
    }


    #main-title p {
        font-size: 12px;
    }


    /* Draw X or O */
    #dashboard p {
        font-size: 30px;
        font-weight: bold;
        position: relative;
        top: 18%;
        right: -25%;
    }


    /* which player turn and score*/
    #heading {
        width: 400px;
        position: relative;
        left: 2%;
    }



    #heading #player-move-text {
        font-size: 10px;
    }




    #heading #player-X-text {
        font-size: 10px;
        padding-left: 60px;
    }

    #heading #player-O-text {
        font-size: 10px;
        padding-left: 60px;
    }

    #dashboard {
        width: 320px;
        height: 320px;
    }

    #dashboard #column1,
    #column2,
    #column3,
    #column4,
    #column5,
    #column6 {
        width: 53px;
    }


    /* 1. column */
    #dashboard #column1 #column1-box1 {

        height: $box-height-400;
    }


    #dashboard #column1 #column1-box2 {

        height: $box-height-400;
    }

    #dashboard #column1 #column1-box3 {

        height: $box-height-400;
    }

    #dashboard #column1 #column1-box4 {

        height: $box-height-400;
    }

    #dashboard #column1 #column1-box5 {

        height: $box-height-400;
    }

    #dashboard #column1 #column1-box6 {
        height: $box-height-400;
    }


    /* 2. column */

    #dashboard #column2 #column2-box1 {
        height: $box-height-400;
    }

    #dashboard #column2 #column2-box2 {
        height: $box-height-400;
    }

    #dashboard #column2 #column2-box3 {
        height: $box-height-400;
    }

    #dashboard #column2 #column2-box4 {

        height: $box-height-400;
    }

    #dashboard #column2 #column2-box5 {
        height: $box-height-400;
    }

    #dashboard #column2 #column2-box6 {
        height: $box-height-400;
    }


    /* 3. column */

    #dashboard #column3 #column3-box1 {
        height: $box-height-400;
    }

    #dashboard #column3 #column3-box2 {
        height: $box-height-400;
    }

    #dashboard #column3 #column3-box3 {
        height: $box-height-400;
    }

    #dashboard #column3 #column3-box4 {
        height: $box-height-400;
    }

    #dashboard #column3 #column3-box5 {
        height: $box-height-400;
    }

    #dashboard #column3 #column3-box6 {
        height: $box-height-400;
    }







    /* 4. column */

    #dashboard #column4 #column4-box1 {
        height: $box-height-400;
    }

    #dashboard #column4 #column4-box2 {
        height: $box-height-400;
    }

    #dashboard #column4 #column4-box3 {
        height: $box-height-400;
    }

    #dashboard #column4 #column4-box4 {
        height: $box-height-400;
    }

    #dashboard #column4 #column4-box5 {
        height: $box-height-400;
    }

    #dashboard #column4 #column4-box6 {
        height: $box-height-400;
    }






    /* 5. column */

    #dashboard #column5 #column5-box1 {
        height: $box-height-400;
    }

    #dashboard #column5 #column5-box2 {
        height: $box-height-400;
    }

    #dashboard #column5 #column5-box3 {
        height: $box-height-400;
    }

    #dashboard #column5 #column5-box4 {
        height: $box-height-400;
    }

    #dashboard #column5 #column5-box5 {
        height: $box-height-400;
    }

    #dashboard #column5 #column5-box6 {
        height: $box-height-400;
    }







    /* 6. column */

    #dashboard #column6 #column6-box1 {
        height: $box-height-400;
    }

    #dashboard #column6 #column6-box2 {
        height: $box-height-400;
    }

    #dashboard #column6 #column6-box3 {
        height: $box-height-400;
    }

    #dashboard #column6 #column6-box4 {
        height: $box-height-400;
    }

    #dashboard #column6 #column6-box5 {
        height: $box-height-400;
    }

    #dashboard #column6 #column6-box6 {
        height: $box-height-400;
    }




    .buttons {
        width: 320px;
    }



    #newGame .btn-newGame,
    .btn-resetCalc {
        width: 140px;
    }




}